__pycache__/
env/
venv/
ENV/
VENV/
.pipenv/
*.env
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
instance/
*.pid
.vscode/
*.code-workspace
.DS_Store
.env
.env.*
.secret
*.sqlite3
*.pyd
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/